body, html {
    height: 100%;
  }

  /* .caption {} */

  .img { 
    /* The image used */
    background: url("https://earth.nullschool.net/#current/wind/surface/level/orthographic=-99.71,26.70,305/loc=-117.583,35.605");

    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .img-1 { 
    /* The image used */
    background-image: url("https://images.pexels.com/photos/6566/sea-sky-clouds-weather.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-2 { 
    /* The image used */
    background-image: url("https://images.pexels.com/photos/763398/pexels-photo-763398.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-3 { 
    /* The image used */
    background-image: url("https://images.pexels.com/photos/265959/pexels-photo-265959.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img-4 { 
    /* The image used */
    background-image: url("https://images.pexels.com/photos/417370/pexels-photo-417370.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dropdown-content{
    width: max-content !important;
    height:auto !important;
 }

  .page-footer {
    padding-top: 10px;
    color: #fff;
    background-color: #b9571b;
  }   
 .header{
    font-family: 'Metal Mania', cursive;
    text-align: center;
    font-size: 80px;
 }

 .jumbotron{
    font-family: 'Metal Mania', cursive;
    font-size: 50px;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.blogBtn{
    text-align: center;
    font-family: 'Metal Mania', cursive;
    font-size: 50px;
    display: flex;
    align-items: center;    
    justify-content: center;

}
