.blogBox {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px;
    height: 400px;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.95;
    border-radius: 28px;
    border: 4px solid rgba(134, 162, 173, 0.507);
    height: auto;
    overflow: auto;
    background: #fcfcfc;
    background: radial-gradient(circle at 20% 107%, #dddddd 0%, #b3b3b3 5%, #eaf7ff 40%, #d2e3e9 45%,#c0c6c9 60%,#c6cfd3 90%);
    box-shadow: 0px 5px 10px rgba(0,0,0,.25);
    
}


#blog-image {
    float: left;
    height: 35%;
    width: 35%;
    margin-right: 10px;
    background-repeat: no-repeat;
    opacity: 0.99;
    overflow: auto;
    border-radius: 30px;
    
}

#blog-title {
    text-align: left;
    font-size: 23px;
    
    
}


#blog-location {
    font-size: 20px;
    text-align: left;
}

#weather-input {
    font-size: 20px;
    text-align: left;
}

#weather-condition {
    font-size: 20px;
    text-align: left;
}

#user-name {

    text-align: right;

}

.blog-delete {
    float: right;
    position: relative;
    
}

#blog-section-background {
    display: inline-block;
    color: #fff;
    background: #7c4dff;
    background: radial-gradient(circle at 30% 107%, #6233e1 0%, #7c5cd3 5%, #534283 40%, #5236a0 45%,#594c7b 60%,#6e3ef4 90%);
    box-shadow: 0px 5px 10px rgba(0,0,0,.25);
    color: #7c4dff;
    font-family: sans-serif;
    width: 100%;
}

#top-badge {
    background: #12749b;
    background: radial-gradient(circle at 20% 107%, #226079 0%, #2e84a7 5%, #20567a 40%, #20627c 45%,#3984a1 60%,#42acd6 90%);
    box-shadow: 0px 5px 10px rgba(0,0,0,.25);
}
#mid-badge {
    background: #135b77;
    background: radial-gradient(circle at 15% 107%, #0f6182 0%, #1081ad 5%, #1a4353 40%, #24718f 45%,#275b85 60%,#42acd6 90%);
    box-shadow: 0px 5px 10px rgba(0,0,0,.25);
}

#footer-badge {
    background: #bb701b;
    background: radial-gradient(circle at 20% 107%, #b46523 0%, #b45d23 5%, #9c5d15 40%, #a05b0c 45%,#a1571b 60%,#b46423 70%);
    box-shadow: 0px 5px 10px rgba(0,0,0,.25);
}

